doctype html
html(lang="ko")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    title Xoom
  body
    header
      h1 Xoom
    main
      div#welcome
        form
          input(type="text", placeholder="room name", required)
          button Enter Room
      div#call
        div#myStream
          video#myFace(autoplay, playsinline, width=400, height=400)
          button#mute Mute
          button#camera Turn Camera Off
          select#cameraSelect
        div#peersStream
          video#peersFace(autoplay, playsinline, width=400, height=400)
        div#chat
          h3
          ul
          form
            input(type="text", placeholder="write a message", required)
            button Send
          button#disconnectButton Disconnect
    script(src="/socket.io/socket.io.js") 
    script(src="/public/js/app.js") 
